<mat-drawer-container class="flex-auto h-full" autosize>
    <mat-drawer #matDrawer position="end" [disableClose]="true" mode="over">
        <app-task></app-task>
    </mat-drawer>
    <div>

        <div class="flex flex-col max-w-md py-14 items-center m-auto">
            <div class="w-full shrink flex items-start justify-between gap-2">
                <div class="shrink h-10 w-10">
                    <mat-icon [inline]="true" svgIcon="task_board:logo"></mat-icon>
                </div>
                <ng-container *ngIf="board | async as board">
                    <div *ngIf="!boardEditMode" class="flex flex-col grow items-start justify-between gap-2">
                        <span class="text-4xl">{{ board.name }} <mat-icon (click)="boardEditMode = !boardEditMode"
                                svgIcon="task_board:edit_duotone"></mat-icon></span>
                        <span>{{ board.description }}</span>
                    </div>
                    <form *ngIf="boardEditMode" [formGroup]="boardForm" (ngSubmit)="saveBoard()"
                        class="flex flex-col grow items-start justify-between gap-2">
                        <!-- name -->
                        <div class="flex gap-2">
                            <mat-form-field class="grow">
                                <mat-label>Board name</mat-label>
                                <input matInput formControlName="name" />
                                <mat-error *ngIf="boardForm.controls.name.errors?.['required']">The task name is
                                    required.</mat-error>
                            </mat-form-field>
                            <button mat-icon-button [disableRipple]="true" type="submit"
                                [disabled]="boardForm.disabled">
                                <mat-icon>save</mat-icon>
                            </button>
                        </div>

                        <!-- description -->
                        <mat-form-field class="w-full">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </form>
                </ng-container>
            </div>
            <div class="w-full grow flex flex-col gap-4 mt-8">
                <ng-container *ngIf="{tasks: boardTasks | async, selectedTask: selectedTask | async} as boardData">
                    <div *ngFor="let task of boardData.tasks"
                        class="w-full"
                        [ngClass]="{'border-2 border-[#3662E3] task-padding rounded-3xl' : boardData.selectedTask?.id === task.id}">
                        <div class="flex gap-2 items-center justify-between break-all cursor-pointer min-h-18 rounded-3xl"
                            (click)="openTask(task)"
                            [ngClass]="{'items-start' : !!task.description, 'bg-pending' : task.status === BoardTaskStatus.Pending ,  'bg-progress' : task.status === BoardTaskStatus.OnProgress, 'bg-done': task.status === BoardTaskStatus.Done, 'bg-refused': task.status === BoardTaskStatus.Refused}">
                            <div [class.mt-4]="task.description" class="ml-4 shrink bg-white rounded-xl flex"
                                [ngSwitch]="task.icon">
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon1" class="m-2">home</mat-icon>
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon2" class="m-2">local_cafe</mat-icon>
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon3" class="m-2">book</mat-icon>
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon4" class="m-2">access_time</mat-icon>
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon5" class="m-2">shopping_cart</mat-icon>
                                <mat-icon *ngSwitchCase="BoardTaskIcon.Icon6" class="m-2">rowing</mat-icon>
                            </div>
                            <div [ngClass]="{'mx-2 my-4' : !!task.description}"
                                class="flex grow flex-col items-start justify-start gap-2">
                                <div class="text-xl font-semibold">{{ task.name }}</div>
                                <div *ngIf="task.description">{{ task.description }}</div>
                            </div>
                            <ng-container [ngSwitch]="task.status">
                                <div [class.mt-4]="task.description" class="mr-4 shrink bg-tulip-tree rounded-xl flex"
                                    *ngSwitchCase="BoardTaskStatus.OnProgress">
                                    <mat-icon svgIcon="task_board:time_atack_duotone" class="m-2"></mat-icon>
                                </div>
                                <div [class.mt-4]="task.description" class="mr-4 shrink bg-emerald rounded-xl flex"
                                    *ngSwitchCase="BoardTaskStatus.Done">
                                    <mat-icon svgIcon="task_board:done_round_duotone" class="m-2"></mat-icon>
                                </div>
                                <div [class.mt-4]="task.description" class="mr-4 shrink bg-flame-pea rounded-xl flex"
                                    *ngSwitchCase="BoardTaskStatus.Refused">
                                    <mat-icon svgIcon="task_board:close1" class="m-2"></mat-icon>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

                <div (click)="addTask()"
                    class="w-full h-18 flex gap-2 bg-new items-center justify-between rounded-3xl cursor-pointer">
                    <div class="ml-4 shrink  bg-tulip-tree rounded-xl flex">
                        <mat-icon class="m-2" svgIcon="task_board:add"></mat-icon>
                    </div>
                    <div class="grow font-semibold">Add new task</div>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>