<form class="flex flex-col h-full w-full p-4" [formGroup]="taskForm" (ngSubmit)="saveTask()" appScrollToInvalide>
    <!-- Main -->
    <div class="flex justify-between md:gap-2 w-full pb-2">
        <h1 class="text-2xl md:text-3xl font-extrabold tracking-tight">Task details
        </h1>
        <div class="flex border-2 border-[#E3E8EF]">
            <button mat-icon-button [disableRipple]="true" (click)="closeTask()" type="button" class="text-[40px]">
                <mat-icon [inline]="true" svgIcon="task_board:close"></mat-icon>
            </button>
        </div>
    </div>
    <!-- Form -->
    <div class="flex flex-col overflow-auto px-2 md:px-4">
        <!-- name -->
        <mat-form-field class="w-full min-w-96">
            <mat-label>Task name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="taskForm.controls.name.errors?.['required']">The task name is required.</mat-error>
        </mat-form-field>
        <!-- description -->
        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>
    <div class="flex justify-end gap-4 items-center py-2">
        <button class="delete" (click)="deleteTask()" type="button" mat-flat-button>
            <span class="flex gap-2 items-center">
                Delete
                <mat-icon svgIcon="task_board:trash"></mat-icon>
            </span>
        </button>
        <button  type="submit" [disabled]="taskForm.disabled" color="primary" mat-flat-button>
            <span class="flex gap-2 items-center">
                Save
                <mat-icon svgIcon="task_board:done_round"></mat-icon>
            </span>
        </button>
    </div>
</form>